certmanager:
  install: false
certmanager-issuer:
  email: "null"
gitlab:
  webservice:
    ingress:
      tls:
        secretName: gitlab-webservice-tls
  task-runner:
    backups:
      objectStorage:
        config:
{% if provider == "gcp" %}
          backend: gcs
          gcpProject: id
          secret: google-application-credentials
          key: gcp-application-credentials-file
{% else %}
          secret: gitlab-storage-config
          key: config
{% endif %}
global:
  email:
    display_name: Gitlab
    from: info@gitlab.{{ domain }}
    reply_to: noreply@gitlab.{{ domain }} 
  smtp:
    enabled: true
{% if provider == "gcp" %}
    address: smtp.gmail.com
    tls: false
{% elif provider == "azure" %}
    address: smtp.office365.com
{% endif %}
    domain: gitlab.{{ domain }}
    authentication: login
    port: 587
    starttls_auto: true
    openssl_verify_mode: peer
    user_name: {{ smtp_username }}
    password:
      secret: smtp-credentials
      key: password
  appConfig:
    initialDefaults:
      signupEnabled: false
    artifacts:
      bucket: {{ bucket_prefix }}gitlab-artifacts
      connection:
        secret: gitlab-object-storage
      enabled: true
      proxy_download: true
    backups:
      bucket: {{ bucket_prefix }}gitlab-backups
      tmpBucket: gitlab-tmp-backups
    externalDiffs:
      bucket: {{ bucket_prefix }}gitlab-external-diffs
      connection:
        secret: gitlab-object-storage
      enabled: true
      proxy_download: true
    lfs:
      bucket: {{ bucket_prefix }}git-lfs
      connection:
        secret: gitlab-object-storage
      enabled: true
      proxy_download: true
    packages:
      bucket: {{ bucket_prefix }}gitlab-packages
      connection:
        secret: gitlab-object-storage
      enabled: true
      proxy_download: true
    pseudonymizer:
      bucket: {{ bucket_prefix }}gitlab-pseudonymizer
      connection:
        secret: gitlab-object-storage
      enabled: true
      proxy_download: true
    terraformState:
      bucket: {{ bucket_prefix }}gitlab-terraform-state
      connection:
        secret: gitlab-object-storage
      enabled: true
      proxy_download: true
    uploads:
      bucket: {{ bucket_prefix }}gitlab-uploads
      connection:
        secret: gitlab-object-storage
      enabled: true
      proxy_download: true
    omniauth:
      enabled: true
      blockAutoCreatedUsers: false
      allowSingleSignOn: true
      providers:
      - secret: keycloak-provider
  hosts:
    domain: "{{ domain }}"
  psql:
    database: gitlabhq_production
    username: gitlab
    port: 5432
    useSecret: true
  redis:
    host: mymaster
    password:
      enabled: false
    port: 6379
    sentinels:
    - host: gitlab-redis-headless
      port: 26379
  registry:
    bucket: {{ bucket_prefix }}gitlab-registry
  minio:
    enabled: false
  ingress:
    configureCertmanager: false
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
postgresql:
  install: true
redis:
  install: false
registry:
  enabled: true
  ingress:
    tls:
      secretName: gitlab-registry-tls
  storage:
{% if provider == "gcp" %}
    extraKey: gcs.json
{% elif provider == "azure" %}
    key: config
{% endif %}
    secret: gitlab-registry-storage
gitlab-runner:
  runners:
    privileged: true